[submodule "diffgar/models/clap"]
	path = diffgar/models/clap
	url = https://github.com/LAION-AI/CLAP.git
[submodule "diffgar/models/tango"]
	path = diffgar/models/tango
	url = https://github.com/Pliploop/tango.git
[submodule "diffgar/models/muscall"]
	path = diffgar/models/muscall
	url = https://github.com/Pliploop/muscall.git
